.t_uppercase {
    text-transform: uppercase;
    color: blue;
    text-decoration: underline overline line-through;
}

.t_lowercase {
    text-transform: lowercase;
    color: red;
    text-decoration: overline;
}

.t_capitalize {
    text-transform: capitalize;
    color: rgb(202, 189, 35);
}

.t_center {
    text-align: center;
}

.t_right {
    text-align: right;
    text-decoration: line-through;
}

.f_size {
    font-size: 50px;
}

.t_indent {
    text-indent: 150px;
}

.t_height {
    line-height: 20px;
}

.w_spacing {
    word-spacing: 50px;
}

.l_spacing {
    letter-spacing: 50px;
}

.t_shadow {
    text-shadow: 4px 5px 8px red;
    color: aqua;
    font-size: 50px;
}

