.container {
    position: relative;
    margin: 50px;
}

div {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    position: absolute;
    border: 3px solid white;
}

.navy {
    background-color: navy;
    left: 40px;
    z-index: 4;
    &:hover {
        z-index: 7;
    }
}

.gold {
    background-color: gold;
    left: 80px;
    z-index: 5;
}

.ivory {
    background-color: rgb(251, 251, 88);
    left: 120px;
    z-index: 2;
}



.ivory:hover {
    z-index: 6;
}